/*halaman dasar */
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
  background-attachment: fixed; 
  margin: 0;
}
.group-wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}
/* navbar */
.navbar {
  background: rgba(255, 255, 255, 0.55) !important;
  backdrop-filter: blur(10px);
  padding: 14px 30px;
  box-shadow: none; 
  border-radius: 0; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); 
}
.nav-item .nav-link {
  font-weight: 600;
  color: #333 !important;
  padding: 8px 18px;
  border-radius: 8px; 
  transition: 0.25s ease;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  background: rgba(30, 144, 255, 0.12); 
  color: #1e90ff !important;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 250px; 
  gap: 20px;
  padding: 20px;
}
/*konten di tengah */
.main-content {
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*header atas */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 12px 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.header h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #1A1A1A;;
}
.datetime {
  background-color: #89b4f8; 
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 13px;
}
/*konten utama*/
.content-box {
  background: linear-gradient(
      145deg,
      rgba(255,255,255,0.75),
      rgba(255,255,255,0.45)
  );
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 25px;
  width: 100%;
  margin-top: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.content-box h2 {
  margin-top: 0;
  font-weight: 700;
  color: #1A1A1A;
}
.content-box h3 {
  margin-top: 0;
  font-weight: 700;
  color: #1A1A1A;
}
.content-box p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}
/* tombol */
.btn {
  display: block;
  margin: 20px auto;
  background: linear-gradient(135deg, #1E90FF, #4C6FFF);
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(76, 111, 255, 0.3);
  border: none;
  padding: 12px 25px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #006be0;
  opacity: 0.9;
}
/* grid motor */
.motor-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 15px;
}
.motor-card {
  background: #ffffff;
  transition: 0.3s ease;
  width: 30%;
  border-radius: 18px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  border: 1px solid #eef1ff;
  transition: 0.25s;
}
.motor-card p {
  font-weight: 600;
  line-height: 1.6;
  color: #555;
  margin-bottom: 8px;
}
.motor-card span {
  font-size: 26px;
  font-weight: bold;
  color: #1E90FF; 
}
.layout-rumah {
  display: grid;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.main-content-card {
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.card {
  border: none;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  overflow: hidden;
  transition: 0.25s;
}
.content-box-rumah {
  background-color: transparent;
  border-radius: 20px;
  padding: 25px;
  margin-top: 25px;
}
.content-box-rumah h2 {
  font-weight: 700;
  color: #1A1A1A;
}
/* sidebar kanan */
.sidebar-right {
    background: linear-gradient(
      145deg,
      rgba(255,255,255,0.75),
      rgba(255,255,255,0.45)
  );
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  border-radius: 20px;
  padding: 35px 20px;
}
.sidebar-right h3 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}
/*Sidebar Kiri */
.sidebar-left {
  background: linear-gradient(
    145deg,
    rgba(255,255,255,0.75),
    rgba(255,255,255,0.45)
  );
  box-shadow: 0 6px 16px rgba(0,0,0,0.08); 
  border-radius: 20px;
  padding-top: 40px;
}
.sidebar-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-left li {
  padding: 12px 20px;
  font-weight: 600;
  cursor: pointer;
  color: #333;
  border-radius: 8px;
  transition: 0.3s;
}
.sidebar-left li:hover,
.sidebar-left li.active {
  background-color: #dadada;
}
.layout-sewa {
  display: grid;
  grid-template-columns:210px 1fr 250px;
  gap: 20px;
  padding-top: 20px;
}
.content-area {
  flex: 1;
}
/* promo */
#promoCarousel {
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
}

.promo-img {
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

#promoCarousel.vertical .carousel-item-next,
#promoCarousel.vertical .carousel-item-start {
  transform: translateY(100%);
}

#promoCarousel.vertical .carousel-item-prev,
#promoCarousel.vertical .carousel-item-end {
  transform: translateY(-100%);
}

#promoCarousel .carousel-item {
  transition: transform 0.6s ease-in-out;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
  background-attachment: fixed;
  margin: 0;
}
.profile-card {
  background: linear-gradient(
       145deg,
       rgba(255,255,255,0.75),
       rgba(255,255,255,0.45)
    );
  padding: 30px;
  border-radius: 18px;
  width: 450px;
  margin: 40px auto;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 25px;
}
.profile-header img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #1E90FF;
  box-shadow: 0 0 12px rgba(30,144,255,0.3);
  margin-bottom: 10px;
}
.profile-card label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

.profile-card input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

.btn-save {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #1E90FF;
  border: none;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-save:hover {
  opacity: .8;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #4C2EFF;
  text-decoration: none;
}

.btn-danger {
  background-color: #ff4d4d;
}

.btn-danger:hover {
  background-color: #d40000;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

/* kepala table */
table th {
  background-color: #1E90FF;
  color: white;
  padding: 12px;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.3px;
}

/* baris */
table td {
  padding: 10px 12px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
}

/* baris genap*/
table tr:nth-child(even) {
  background-color: #f4faff;
}

/* layar responsif */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .sidebar-left,
  .sidebar-right {
    display: none;
  }
  .main-content {
    width: 100%;
  }
  .motor-card {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .motor-card {
    width: 100%;
  }
}
